# .gitignore

# Игнорируем директорию с виртуальным окружением
.venv/
venv/

# Игнорируем кэш и временные файлы Python
**/__pycache__/
*.pyc

# Игнорируем кэш аватаров и прочие временные данные
cache/

# Игнорируем файл сессии Telegram, чтобы избежать повторной авторизации на других машинах
# и не компрометировать сессию.
tg_session.session

# ВАЖНО: Игнорируем конфигурационный файл, так как он содержит приватные API-ключи.
# Никогда не добавляйте этот файл в публичный репозиторий!
data/config.json

# Игнорируем файлы настроек IDE
.vscode/
.idea/

# Специфичные для macOS файлы
.DS_Store